*{
    padding: 0;
    margin:0;
}
.t-c{
    text-align: center;
}
.all-country {
    display: block;
    margin-left: -9px;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.banner-bottom{
    background: #0d6efd !important;
    padding: 60px 0;


}
.banner-t-one {
    background: #e67e22;
    color: #fff;
    width: 40%;
    border-left: 2px solid black;
    margin-left: 160px;
    border-radius: 0 40px 40px 0;
    float: left;
    clear: right;
    box-shadow: 2px 2px 3px #494343bf;
}
.banner-t-two {
    background: #1abc9c;
    color: #fff;
    width: 40%;
    float: right;
    clear: left;
    border-radius: 40px 0 0 40px;
    margin-right: 136px;
    margin-top: 46px;
    box-shadow: 2px 2px 3px #494343bf;
}
/*flag section*/
.footer{
    background: #4d687a;
    color: #fff;
}
.bangladesh{
    width: 300px;
    height: 201px;
    display: inline-block;
    padding: 10px;
    margin-right:20px;
}
.bd-flag {
    width: 300px;
    height: 167px;
    background: green;
    box-shadow: 2px 2px 5px 3px rgba(133, 147, 166.3);
    padding-top: 5px;
    
}
.lal {
    width: 150px;
    height: 150px;
    background: red;
    margin-left: 80px;
    border-radius: 50%;
}
.england {
    width: 300px;
    height: 201px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}
.eng {
    width: 300px;
    height: 167px;
    background: #ffffff;
    box-shadow: 2px 2px 6px #b5c6d1;
    position: relative;
}

.r-x {
    width: 300px;
    height: 30px;
    background: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.r-y {
    width: 30px;
    height: 167px;
    background: red;
    margin-left: 226px;
    position: absolute;
    top: 0;
    left: 111px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.japan{
    display: inline-block;
    width: 300px;
    height: 201px;
    margin-left: 20px;
    

}
.jap{
width: 300px;
height: 167px;
background:#ffffff ;
padding-top: 5px;
box-shadow: 2px 2px 6px #b5c6d1;
border: 2px solid black;
}
.germany{
display: inline-block;
width:300px ;
height: 201px;
}
.ger{
width: 300px;
height: 167px;
box-shadow: 2px 2px 6px #b5c6d1;

}
.black {
    width: 300px;
    height: 60px;
    background: #000000;
    border-bottom: 1px solid white;
}
.red {
    width: 300px;
    height: 58px;
    background: #ff0000;
    border-bottom: 1px solid white;
}
.yellow {
    width: 300px;
    height: 50px;
    background: #ffff00;
}